In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./../labeledTweets/allLabeledTweets.csv')
df.shape[0]

2025

In [3]:
df.head()

,message,id,tweetId,createdAt,language,inReplyToStatusId,inReplyToUserId,inReplyToScreenName,userId,userName,...,placeName,placeFullName,placeType,retweetedId,monitoringObjectId1,monitoringObjectId2,queryId,sentiment,retweetCount,label
0,Tiek vērtēti trīs potenciālie airBaltic invest...,1478404,925617390523732000,2017-11-01T08:55:57,lv,NaN,NaN,NaN,24855060,Dienas Bizness,...,NaN,NaN,NaN,NaN,389,389,NaN,0.0,0,0
1,Augulis: #airBaltic “potenciālie pircēji ir no...,1478695,925636688323506200,2017-11-01T10:12:38,lv,NaN,NaN,NaN,1100471400,Nepareizais,...,Liepāja,"Liepāja, Latvija",city,NaN,197,197,390.0,NaN,24,0
2,airBaltic uzsāks lidojumus uz diviem jauniem g...,1478812,925640341621002200,2017-11-01T10:27:09,lv,NaN,NaN,NaN,24855060,Dienas Bizness,...,NaN,NaN,NaN,NaN,197,197,390.0,NaN,2,0
3,Ministrs: Sarunas turpinās ar trīs potenciālaj...,1479295,925652138621132800,2017-11-01T11:14:02,lv,NaN,NaN,NaN,59826614,Bizness.lv,...,NaN,NaN,NaN,NaN,197,197,390.0,NaN,0,0
4,@krisjaniskarins @Janis_Kazocins @EU2017EE Net...,1480097,925674352389083100,2017-11-01T12:42:18,lv,9.256717e+17,99914275.0,krisjaniskarins,265899859,Χάρων,...,NaN,NaN,NaN,NaN,197,197,390.0,NaN,3,0

In [4]:
df['label'].value_counts()

0    968
2    647
1    410
Name: label, dtype: int64

# Lowercase, remove new line symbols

In [10]:
df['message'][100]

'Latvijas valstsvienības kapteinis turnīram Francijā būs Roberts Bukarts. Asistēs viņam pirmajā mačā Skvorcovs un Balinskis #kopāspēks #Lielfans #lauvassirds #LHF #BITE https://t.co/aAt4cppUr7'

In [11]:
df['message_lowercase'] = df['message'].str.lower()
newLine ="\\n|\\r"
df['message_lowercase'] = df['message_lowercase'].str.replace(newLine,' ',regex=True).str.strip()
df.head()

,message,id,tweetId,createdAt,language,inReplyToStatusId,inReplyToUserId,inReplyToScreenName,userId,userName,...,placeFullName,placeType,retweetedId,monitoringObjectId1,monitoringObjectId2,queryId,sentiment,retweetCount,label,message_lowercase
0,Tiek vērtēti trīs potenciālie airBaltic invest...,1478404,925617390523732000,2017-11-01T08:55:57,lv,NaN,NaN,NaN,24855060,Dienas Bizness,...,NaN,NaN,NaN,389,389,NaN,0.0,0,0,tiek vērtēti trīs potenciālie airbaltic invest...
1,Augulis: #airBaltic “potenciālie pircēji ir no...,1478695,925636688323506200,2017-11-01T10:12:38,lv,NaN,NaN,NaN,1100471400,Nepareizais,...,"Liepāja, Latvija",city,NaN,197,197,390.0,NaN,24,0,augulis: #airbaltic “potenciālie pircēji ir no...
2,airBaltic uzsāks lidojumus uz diviem jauniem g...,1478812,925640341621002200,2017-11-01T10:27:09,lv,NaN,NaN,NaN,24855060,Dienas Bizness,...,NaN,NaN,NaN,197,197,390.0,NaN,2,0,airbaltic uzsāks lidojumus uz diviem jauniem g...
3,Ministrs: Sarunas turpinās ar trīs potenciālaj...,1479295,925652138621132800,2017-11-01T11:14:02,lv,NaN,NaN,NaN,59826614,Bizness.lv,...,NaN,NaN,NaN,197,197,390.0,NaN,0,0,ministrs: sarunas turpinās ar trīs potenciālaj...
4,@krisjaniskarins @Janis_Kazocins @EU2017EE Net...,1480097,925674352389083100,2017-11-01T12:42:18,lv,9.256717e+17,99914275.0,krisjaniskarins,265899859,Χάρων,...,NaN,NaN,NaN,197,197,390.0,NaN,3,0,@krisjaniskarins @janis_kazocins @eu2017ee net...

In [13]:
df['message_lowercase'][100]

'latvijas valstsvienības kapteinis turnīram francijā būs roberts bukarts. asistēs viņam pirmajā mačā skvorcovs un balinskis #kopāspēks #lielfans #lauvassirds #lhf #bite https://t.co/aat4cppur7'

In [14]:
df.to_csv('./../labeledTweets/allLabeledTweets_clean.csv', index=False)